<!DOCTYPE html>
<html>
  <body>
    <div id="menu">
      <header>
        <h1>Create a Daily Journal</h1>
        <h3>Note: Your journal will be viewable and editable to anyone who has the link!</h3>
      </header>
      <div id="choices">
        <div id="create">CREATE A NEW JOURNAL</div>
        <div id="load">LOAD A JOURNAL</div>
        <input type="text" id="key" class="inactive">
        <input type="submit" id="submit" class="inactive" value="OK">
      </div>
    </div>
  </body>
</html>